:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.login-button {
    display: flex;
    justify-content: center;
    padding: 7px;
    color: white;
    border-radius: 4px;
    background: #3f51b5;
}

.header {
    top: 0;
    width: 100%;
    position: absolute;
}

.card-item {
    width: 30%;
}

.card-title{
    padding-top: 20px;
}

::ng-deep .mat-mdc-button .mdc-button__label {
    color: white !important;
}

.form-block{
    padding-top: 18px;
}