<div class="row mt-20">
    <div class="col-md-3 col-xs-3">
        <div class="small_box">
            <div class="inner">
                <div class="row">
                    <div class="col-md-8">
                        <div class="total_length">
                            <h2 class="text-red">4</h2>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon">
                            <!-- <img src="assets/images/manuscript_submitted.png" /> -->
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box_footer bg-red">
                <a class="manuscript_footer" routerLink="/dashboard/admin-dashboard/role">Role</a>
            </div>

        </div>

    </div>
    <div class="col-md-3 col-xs-3">
        <div class="small_box">
            <div class="inner">
                <div class="row">
                    <div class="col-md-8">
                        <div class="total_length">
                            <h2 class="text-blue">6</h2>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>



            </div>
            <div class="box_footer bg-blue">
                <a class="manuscript_footer">Section</a>
            </div>

        </div>

    </div>
    <div class="col-md-3 col-xs-3">
        <div class="small_box">
            <div class="inner">
                <div class="row">
                    <div class="col-md-8">
                        <div class="total_length">
                            <h2 class="text-orange">3</h2>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>



            </div>
            <div class="box_footer bg-orange">
                <a class="manuscript_footer">Library</a>
            </div>

        </div>

    </div>
    <div class="col-md-3 col-xs-3">
        <div class="small_box">
            <div class="inner">
                <div class="row">
                    <div class="col-md-8">
                        <div class="total_length">
                            <h2 class="text-dark-green">3</h2>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>



            </div>
            <div class="box_footer bg-dark-green">
                <a class="manuscript_footer">Student</a>
            </div>

        </div>

    </div>
</div>

